{% extends 'layout.html' %}

{% block content %}
<p>Choose a policy scope:</p>
<select class="chosen-select policy-select" style="width:350px;">
  <option value=""></option>
  {% for item in policies %}
  <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>


  <p>Click <a href='/event/toggle'>here</a> to toggle the state of the configured applications</p>
  <p>Click <a href='/configure/'>here</a> to configure applications and policy tags.</p>

<script type="text/javascript">
$(function(){
  $("#policy-select").on('change', function(evt, params) {

  });
});
</script>
{% endblock %}
