<!doctype html>
<head>
<title>Event Driven QoS Demo</title>
<body>
  <h1>Event Driven QoS</h1>
  <p>Current status:</p>
  <ul>
    <li>Facebook is normally business irrelevant and is currently business irrelevant</li>
    <li>Netflix is normally business irrelevant and is currently business irrelevant</li>
  </ul>
  <p>Policy is currently being applied to the APIC-EM via policy tag "ed-qos"</p>
  <p>Click <a href='/event/toggle'>here</a> to toggle the state of the configured applications</p>
  <p>Click <a href='/configure/'>here</a> to configure applications and policy tags.</p>
</body>
</html>
